.section-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
  text-align: center;
  background-color: #c4c4c4;
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 70vw;
  height: 100%;
  display: flex;
  flex: 3;
}
.user-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  width: 100%;
}
.user-box button,
input {
  width: 100%;
}

.request-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style for the placeholder text */
.request-input::placeholder {
  color: #999;
}

/* Style for when the input is focused */
.request-input:focus {
  outline: none;
  border-color: #007bff; /* Change the border color when focused */
  box-shadow: 0 0 5px #007bff; /* Optional: Add a box shadow when focused */
}
