
ul.chat {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .left {
    align-self: flex-start;
  }
  
  .right {
    align-self: flex-end;
    text-align: right;
  }
  
  li {
    font-size: large;
    font-style: sans-serif;
    width: 50%;
    margin-bottom: 5px;
  }

  li .clearfix {
    padding: 0 10px;
    padding: 10px;
  }

  img{
    border-radius: 50%;
    width:70%;
    
  }

  .user p {
    font-size: small;
  }

  /* .message-img{
    display: flex;
    flex-direction: row;
  }

  .message-info {
    display: flex;
    flex-direction: column;
  }

  .left .clearfix .message-info .pp img{
    
  }

  .left .clearfix .message-info .user p{
   
}

.right .clearfix .message-info .pp img{

}

.right .clearfix .message-info .user{

} */

.message-info {
    display: flex;
    flex-direction: column;
  }
  
  .left .message-info {
    flex-direction: row;
    align-items: center;
  }
  
  .left .message-info .pp img {
    margin-right: 10px; /* Add some spacing between image and user info */
  }
  
  .right .message-info {
    flex-direction: row-reverse; /* Reverse the order for right alignment */
    align-items: center;
  }
  
  .right .message-info .pp img {
    margin-left: 10px; /* Add some spacing between image and user info */
  }

  .pp {
    width: 30px;
  }