.auth {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #c4c4c4;
}
.form {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
